body{
    background-color: #f3f3f3;
    color: black;
   }
   .navbar-custom{
    /* background: linear-gradient(#b43c88, #844797); */
    background-color: #170f22 !important;
   }
   .navbar-custom .navbar-nav .nav-link {
    color: beige;
    margin-right: 3em;
    margin-top: 5px;
    font-size: 1.1em;
    margin-left: 0;
   }
   .navbar-custom .navbar-brand,
   .navbar-custom .navbar-text {
    color: white;
    font-size: 1.8em;
    margin-right: 5em;
    margin-left: 0;
    padding-left: 0;
    float: left;
   }
   .fodiv{
    border: 1px solid black;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 30%;
    left: 35%;
    margin: 0 auto !important;
    background-color: white;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 10px 30px 0 rgba(0,
   0, 0, 0.19);
    text-align: center;
   }
   .signdiv{
    position: absolute;
    width: 30%;
    height: 60%;
    top: 15%;
    left: 35%;
   }
   #mytable{
    height:100%;
   }
   #mytable td{
    width: 2000px;
   }
   #mytable .bgcol{
    background:#9c4190;
    width: 800px;
   }
   input[type="text"] {
    border:none;
    border-bottom:1px solid #eeeeee;
    }
   .text-line {
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 2px;
    padding: 3px 10px;
   }
   .text-line:focus{
    border-bottom: solid #62be1f 2px;
    font-size: 1.2em;
    color: black;
   }
   label{
    display:block;
    height:60px;
    overflow:auto;
    position:relative;
   }
   input.text-line{
    position:absolute;
    top:18px;
    left: 0;
   }
   input ~ span{
    position:absolute;
    top:16px;
    left: 0;
    font-size: 1.5em;
   }
   input:focus ~ span{
   transition:top 1s ease;
   font-size: 1.2em;
   font-weight: bold;
    top: 0;
   }
   input:valid{
    color: black;
   }
   input:valid ~ span{
    position:absolute;
    top:0px;
    font-size: 1.2em;
    font-weight: bold;
   }
   .square_btn{
    display: inline-block;
    padding: 0.2em 1em;
    text-decoration: none;
    background: white;/*Button Color*/
    color: #b43c88 !important;
    border-radius: 3px;
    border-color:#b43c88;
    font-size: 1.2em;
    margin-top: 50px;
    width: 50%;
    font-weight: bold;
   }
   .square_btn:hover {
    background: linear-gradient(#b43c88, #844797);
    color: white !important;
   }
   .listyle{
    color:#b43c88;
    text-decoration: none;
    font-size: 1.2em;
    padding-bottom: 5px;
   }
   .listyle:hover{
    color: black;
    font-size: 1.2em;
    padding-bottom: 5px;
   }